.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #202124;
}
.main-wrapper {
  display: table;
  width: 100%;
}

.main-wrapper > footer {
  display: table-row;
}
footer {
  bottom: 0px;
  width: 100%;
}
